<!--The content below is only a placeholder and can be replaced.-->
<header class="fixed-header">
    <router-outlet name="navbar"></router-outlet>
</header>

<mat-sidenav-container class="sidenav">
    <mat-sidenav [fixedInViewport]="true" class="drawer" mode="side" opened>
        <!-- Brand -->
        <a routerLink="/">
            <img src="../../../assets/providentia-lady-indigo.png" class="p-3 d-inline-block" width="145px">
            <p class="text-uppercase headline indigo-text text-center"><strong>Providentia</strong></p>
        </a>
        <mat-divider></mat-divider>
        <!-- Links -->
        <prv-sidenav></prv-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="side-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <prv-footer></prv-footer> -->