.sidenav {
  margin-top: 45pt;
  display: flex;
  flex-flow: column;
  height: 100%;
  flex: 1 1 auto;
}

.drawer {
    margin-top: 45pt;
    width: 150px;
    position: fixed;
}

.side-content {
    padding: 25pt 50pt;
}
