.sidenav {
  margin-top: 45pt;
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1 1 auto;
  z-index: 1031;
}

.drawer {
  width: 150px;
  position: fixed;
}

.side-content {
  padding: 25pt 50pt;
  z-index: 1032;
}
