<mat-card>
    <mat-card-title>
        <mat-toolbar>Sentiment Classifier <mat-icon class="col-1" *ngIf="!sentimentReady"
                title="Classifer is not ready!">
                warning</mat-icon>
        </mat-toolbar>
    </mat-card-title>

    <!-- Error messages-->
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Error while communicating to server:
        <mat-list>
            <mat-list-item>{{ errorMsg }}</mat-list-item>
        </mat-list>
    </div>

    <!-- Warning messages -->
    <div *ngIf="showWarn" class="alert alert-warning" role="alert">
        <mat-list-item>{{ warnMsg }}</mat-list-item>
    </div>

    <!-- Success messages -->
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        <mat-list-item>{{ successMsg }}</mat-list-item>
    </div>

    <mat-content>
        <p>Classifies whether the given text suggests a positive or negative sentiment. The classifier was
            trained on 20,000 restaurant reviews from the Yelp dataset.</p>
        <div *ngIf="sentimentClassifierResult">
            <p class="code elegant-color-dark text-white p-3">{{ sentimentClassifierResult }}</p>
        </div>

        <div *ngIf="sentimentReady" class="container">
            <div class="row">
                <div class="col-10 row no-gutters">
                    <p class="col-sm-12 m-0" style="padding: 0">Submit text:</p>
                    <mat-form-field class="code col-sm-12">
                        <textarea matInput #queryInput
                            (keydown.enter)="classifySentiment(queryInput.value); false"></textarea>
                    </mat-form-field>
                </div>
                <button class="col-2" color="primary" (click)="classifySentiment(queryInput.value)" mat-icon-button>
                    <mat-icon>send</mat-icon>
                </button>
            </div>

        </div>
    </mat-content>
</mat-card>