<mat-card>
    <mat-card-title>
        <mat-toolbar>Have a look at the status of your databases</mat-toolbar>
    </mat-card-title>

    <!-- Error messages-->
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Error while communicating to server:
        <mat-list>
            <mat-list-item>{{ errorMsg }}</mat-list-item>
        </mat-list>
    </div>

    <!-- Warning messages -->
    <div *ngIf="showWarn" class="alert alert-warning" role="alert">
        <mat-list-item>{{ warnMsg }}</mat-list-item>
    </div>

    <!-- Success messages -->
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        <mat-list-item>{{ successMsg }}</mat-list-item>
    </div>

    <mat-content>
        <mat-accordion *ngIf="databases" class="example-headers-align">
            <mat-expansion-panel *ngFor="let database of databases; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ database.name }}
                    </mat-panel-title>
                    <mat-panel-description class="row">
                        <div class="col-11"></div><!-- Placeholder to force icons to align-right -->
                        <mat-icon class="col-1" *ngIf="database.status === 'UP'" title="{{database.name}} is up.">done
                        </mat-icon>
                        <mat-icon class="col-1" *ngIf="database.status === 'DOWN'"
                            title="{{database.name}} is currently down!">
                            warning</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <p>{{ database.description }}</p>
                <div [hidden]="showSpinner[i] !== true">
                    <mat-spinner [diameter]="50" style="margin-left:auto;margin-right:auto;"></mat-spinner>
                </div>
                <div *ngIf="queryResponses.has(database.name)" [hidden]="showSpinner[i] === true">
                    <p class="code elegant-color-dark text-white p-3">{{ queryResponses.get(database.name).result }}</p>
                    <p>Query took: {{ queryResponses.get(database.name).time | number:'.1-6' }} ms</p>
                </div>

                <mat-action-row *ngIf="database.status !== 'DOWN' && database.name !== 'TigerGraph'">
                    <div class="container">
                        <div class="row no-gutters">
                            <p class="col-sm-12 m-0" style="padding: 0">Submit a query:</p>
                            <mat-form-field class="code col-sm-12">
                                <textarea matInput #queryInput
                                    (keydown.enter)="submitQuery(database.name, queryInput.value); false"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <button color="primary" (click)="submitQuery(database.name, queryInput.value)" mat-icon-button>
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-action-row>

                <mat-action-row *ngIf="database.name === 'TigerGraph'">
                    <div class="container">
                        <div class="row no-gutters">
                            <p>
                                Unfortunately no manual queries my be submitted via Providentia. Providentia accesses TigerGraph via the Rest++ API only.
                            </p>
                        </div>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-content>
</mat-card>