# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
out/
 
# VS Code
.vscode/

# Mac
.DS_Store
 
# Maven
log/
target/
bin/

# Misc
.factorypath

# Configurations
src/main/resources/data.properties
src/main/resources/janus-graph.properties
src/main/resources/postgres.properties
