<mat-card>
    <mat-card-title>
        <mat-toolbar>Add a new benchmark job to the pipeline</mat-toolbar>
    </mat-card-title>

    <!-- Error messages-->
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Error while communicating to server:
        <mat-list>
            <mat-list-item>{{ errorMsg }}</mat-list-item>
        </mat-list>
    </div>

    <!-- Warning messages -->
    <div *ngIf="showWarn" class="alert alert-warning" role="alert">
        Invalid submission, error on:
        <mat-list-item>{{ warnMsg }}</mat-list-item>
    </div>

    <!-- Success messages -->
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        <mat-list-item>{{ successMsg }}</mat-list-item>
    </div>

    <mat-content *ngIf="!showError">
        <form [formGroup]="dataOptions" *ngIf="databases && datasets && analysis" class="row px-3">
            <p class="lead col-12">Choose a backend storage solution, dataset and analysis to perform:</p>
            <!-- Database -->
            <mat-form-field [floatLabel]="dataOptions.value.floatLabel" class="col-sm-12 col-md-4">
                <select matNativeControl formControlName="dbCtrl" required>
                    <option *ngFor="let database of databases" [value]="database.name">
                        {{ database.name }}</option>
                </select>
                <mat-label>
                    <mat-icon class="tab-icon">storage</mat-icon> Database
                </mat-label>
            </mat-form-field>
            <!-- Dataset -->
            <mat-form-field [hideRequiredMarker]="dataOptions.value.hideRequired"
                [floatLabel]="dataOptions.value.floatLabel" class="col-sm-12 col-md-4">
                <select matNativeControl formControlName="dsCtrl" required>
                    <option *ngFor="let dataset of datasets" [value]="dataset.name">{{ dataset.name }}
                    </option>
                </select>
                <mat-label>
                    <mat-icon class="tab-icon">bubble_chart</mat-icon> Dataset
                </mat-label>
            </mat-form-field>
            <!-- Analysis -->
            <mat-form-field [hideRequiredMarker]="dataOptions.value.hideRequired"
                [floatLabel]="dataOptions.value.floatLabel" class="col-sm-12 col-md-4">
                <select matNativeControl formControlName="anCtrl" required>
                    <option *ngFor="let analys of analysis" [value]="analys.name">{{ analys.name }}
                    </option>
                </select>
                <mat-label>
                    <mat-icon class="tab-icon">bubble_chart</mat-icon> Analysis
                </mat-label>
            </mat-form-field>
        </form>
        <button mat-button (click)="postNewJob()">Submit</button>
    </mat-content>
</mat-card>