.tab-icon {
    margin-right: 8px;
}

.tab-box {
    align-items: center;
    justify-content: center;
    margin: 5px 16px;
    padding: 2px 16px;
    border-radius: 8px;
}

mat-card {
    height: 100%;
}

img {
    max-height: 150px;
    max-width: 300px;
}
