<mat-nav-list>
    <a mat-list-item routerLink="/new-job"><mdb-icon class="indigo-text pr-2" fas icon="plus-square"></mdb-icon> New Job</a>
    <a mat-list-item routerLink="/history"><mdb-icon class="indigo-text pr-2" far icon="hourglass"></mdb-icon> History</a>
    <a mat-list-item routerLink="/classifier"><mdb-icon class="indigo-text pr-2" fas icon="hat-wizard"></mdb-icon> Classifier</a>
    <a mat-list-item routerLink="/databases"><mdb-icon class="indigo-text pr-2" fas icon="database"></mdb-icon> Databases</a>
    <a mat-list-item routerLink="/performance"><mdb-icon class="indigo-text pr-2" fas icon="tachometer-alt"></mdb-icon> Performance</a>
</mat-nav-list>
