mat-toolbar {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

mat-grid-tile p {
    padding: 10pt;
    color: #FFF;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #1E457C;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

svg > g > g:last-child { pointer-events: none }