<mat-card>
    <mat-toolbar>Here are some shortcuts to your latest activity</mat-toolbar>

    <!-- Error messages-->
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Error while communicating to server:
        <mat-list>
            <mat-list-item>{{ errorMsg }}</mat-list-item>
        </mat-list>
    </div>

    <h2 class="py-3" *ngIf="!showError || showInfo">
        Recent Benchmarks
    </h2>

    <!-- If database is empty or any other info regarding recent benchmarks -->
    <div *ngIf="showInfo" class="alert alert-info" role="alert">
        {{ infoMsg }}
    </div>

    <mat-content *ngIf="!showError && !showInfo">
        <mat-grid-list cols="4" rowHeight="150pt">
            <mat-grid-tile [ngClass]="setTileClass(benchmark.status)" *ngFor="let benchmark of recentBenchmarks"
                [colspan]="1" [rowspan]="1" routerLink="benchmark/{{ benchmark.benchmark_id }}">
                <div style="cursor: pointer">
                    <mat-grid-tile-header class="text-uppercase">{{ benchmark.database.name }} benchmark
                    </mat-grid-tile-header>

                    <p class="text-left" *ngIf="benchmark.status">
                        {{ benchmark.status }} <span *ngIf="benchmark.status === 'COMPLETE'"> in 
                            {{ (benchmark.analysis_time + benchmark.query_time) / 1000 | number:'.1-4' }} seconds
                        </span>
                    </p>


                    <mat-grid-tile-footer *ngIf="benchmark.date_executed">
                        <div *ngIf="benchmark.date_executed" class="text-left">{{ benchmark.date_executed }}</div>
                    </mat-grid-tile-footer>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-content>

    <h2 class="py-3">
        Server Metrics
    </h2>

    <mat-content class="container">
        <!-- Warn message -->
        <div *ngIf="showWarn" class="alert alert-warning" role="alert">
            Warning while communicating to server:
            <mat-list>
                <mat-list-item>{{ warnMsg }}</mat-list-item>
            </mat-list>
        </div>
        <!-- Graph -->
        <div class="row" style="z-index: 1072;">
            <div class="col-md-12 col-lg-6" style="display: block;" *ngIf="chartCPUData">
                <canvas mdbChart [chartType]="'line'" [datasets]="chartCPUData" [colors]="chartCPUColors"
                    [options]="chartOptions" [legend]="true">
                </canvas>
            </div>
            <div class="col-md-12 col-lg-6" style="display: block;" *ngIf="chartMemoryData">
                <canvas mdbChart [chartType]="'line'" [datasets]="chartMemoryData" [colors]="chartMemoryColors"
                    [options]="chartOptions" [legend]="true">
                </canvas>
            </div>
            <!-- Spinner -->
            <div class="col-md-12" [hidden]="chartCPUData && chartMemoryData">
                <mat-spinner [diameter]="50" style="margin-left:auto;margin-right:auto;"></mat-spinner>
            </div>
        </div>
    </mat-content>
</mat-card>