<mat-card>
    <mat-toolbar>Here are some shortcuts to your latest activity</mat-toolbar>

    <!-- Error messages-->
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Error while communicating to server:
        <mat-list>
            <mat-list-item>{{ errorMsg }}</mat-list-item>
        </mat-list>
    </div>

    <h2 class="py-3" *ngIf="!showError || showInfo">
        Recent Benchmarks
    </h2>

    <!-- If database is empty or any other info regarding recent benchmarks -->
    <div *ngIf="showInfo" class="alert alert-info" role="alert">
        {{ infoMsg }}
    </div>

    <mat-content *ngIf="!showError">
        <mat-grid-list cols="3" rowHeight="150pt">
            <mat-grid-tile [ngClass]="setTileClass(benchmark.status)" *ngFor="let benchmark of recentBenchmarks"
                [colspan]="1" [rowspan]="1">
                <div style="cursor: pointer" routerLink="benchmark/{{ benchmark.benchmark_id }}">
                    <mat-grid-tile-header class="text-uppercase">{{ benchmark.database.name }} benchmark
                    </mat-grid-tile-header>

                    <p class="text-left" *ngIf="benchmark.analysis">
                        {{ benchmark.analysis.description }}
                    </p>

                    <mat-grid-tile-footer>
                        <div *ngIf="benchmark.date_executed" class="text-left">{{ benchmark.date_executed }}</div>
                        <div *ngElse class="text-right"> {{ benchmark.status }}</div>
                    </mat-grid-tile-footer>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-content>

    <h2 class="py-3">
        Server Metrics
    </h2>

    <mat-content>
        <div style="display: block" *ngIf="chartDatasets">
            <canvas mdbChart
                [chartType]="'line'"
                [datasets]="chartDatasets"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true">
            </canvas>
          </div>
    </mat-content>
</mat-card>